<div class="form-inline">
  <input [(ngModel)]="newElement" [placeholder]="placeholder" [id]="id" [name]="id" type="text" class="form-control mr-2 flex-fill">
  <button
    (click)="onAddInternal()"
    [disabled]="newElement == null || newElement == ''"
    type="button"
    class="btn btn-primary">Add</button>
</div>
<ul *ngIf="object[propertyName] && object[propertyName].length > 0" [sortablejs]="object[propertyName]" class="list-group mt-2">
  <li *ngFor="let element of object[propertyName]" class="list-group-item"><a href="#" (click)="onRemoveInternal(element)">&times;</a> {{element}}</li>
</ul>
