<div class="table-responsive">
  <table class="table table-striped table-sm">
    <ng-content select="thead"></ng-content>
    <tbody>
      <template *ngFor="let record of records; trackBy: trackById" [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{record: record}"></template>
    </tbody>
    <ng-content select="tfoot"></ng-content>
  </table>
</div>
<a *ngIf="paginationLink" [app-shared-autoload]="paginationLink" (onLoadMore)="onLoadMore($event)">Show more...</a>
<app-shared-loader *ngIf="isLoading"></app-shared-loader>
