<div role="main">
  <div class="home-pano jumbotron jumbotron-fluid">
    <div class="home-pano__caption text-right">
      <a href="https://flic.kr/p/7ckvWx" target="_blank">moonrise from San Francisco by Art Siegel</a>
      <a href="https://creativecommons.org/licenses/by-nc/2.0/" target="_blank"><i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i> <i class="fab fa-creative-commons-nc"></i> (CC BY-NC 2.0)</a>
    </div>
  </div>
</div>
