<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= locals.title ? `${title} - ` : '' %><%= process.env.APP_NAME %></title>
    <link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <%- locals.head ? head : '' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/devmission.png" alt="Dev/Mission Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav flex-grow-1 mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <div class="flex-grow-1 d-flex justify-content-end">
              <% if (currentUser) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Log in</a>
                </li>
              <% } %>  
            </div>
          </ul>
        </div>
      </div>
    </nav>
    <%- body %>
    <script type="application/javascript" src="/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
