<%- contentFor('title') %>Forgot your password?
<%- contentFor('body') %>
<div class="row justify-content-center" role="main">
  <div class="col col-sm-6 col-lg-4 col-xl-3">
    <h1 class="h2">Forgot your password?</h1>
    <p>Enter the email address you registered to receive a reset password link.</p>
    <form method="post" action="/passwords/forgot">
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      </div>
      <div class="form-group text-center">
        <a href="/login">Back to login...</a>
      </div>
    </form>
  </div>
</div>
