Resources:
  SslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
files:
  "/etc/cron.d/certbot":
    mode: "000644"
    owner: root
    group: root
    content: |
      56 1 * * * root /opt/certbot/certbot-auto renew --webroot -w /var/app/current/nginx/webroot && docker exec `docker ps --filter ancestor=nginx -q` nginx -s reload
commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"
container_commands:
  10_install_certbot:
    command: "mkdir -p /opt/certbot && wget https://dl.eff.org/certbot-auto -O /opt/certbot/certbot-auto && chmod a+x /opt/certbot/certbot-auto"
  20_install_certificate:
    command: |
      LETSENCRYPT_DOMAIN=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_DOMAIN`
      LETSENCRYPT_EMAIL=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_EMAIL`
      /opt/certbot/certbot-auto certonly --debug --non-interactive --email ${LETSENCRYPT_EMAIL} --agree-tos --standalone --domains ${LETSENCRYPT_DOMAIN} --keep-until-expiring
  30_update_nginx_conf:
    command: |
      LETSENCRYPT_DOMAIN=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_DOMAIN`
      LETSENCRYPT_EMAIL=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_EMAIL`
      sed -i "s/ssl_certificate;/ssl_certificate \/etc\/letsencrypt\/live\/${LETSENCRYPT_DOMAIN}\/cert.pem;/g" /var/app/staging/nginx/conf.d/default.conf
      sed -i "s/ssl_certificate_key;/ssl_certificate_key \/etc\/letsencrypt\/live\/${LETSENCRYPT_DOMAIN}\/privkey.pem;/g" /var/app/staging/nginx/conf.d/default.conf
