files:
  "/etc/cron.d/certbot":
    mode: "000644"
    owner: root
    group: root
    content: |
      56 1 * * * root certbot renew `/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_OPTS` --webroot -w /var/app/current/nginx/webroot && docker exec `docker ps --filter ancestor=nginx -q` nginx -s reload
commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/*.bak"
container_commands:
  10_install_certbot:
    command: |
      amazon-linux-extras install -y epel
      yum install -y certbot
  20_install_certificate:
    command: |
      LETSENCRYPT_ALL_DOMAINS=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_ALL_DOMAINS`
      LETSENCRYPT_DOMAIN=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_DOMAIN`
      LETSENCRYPT_EMAIL=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_EMAIL`
      LETSENCRYPT_OPTS=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_OPTS`
      certbot certonly ${LETSENCRYPT_OPTS} --debug --non-interactive --email ${LETSENCRYPT_EMAIL} --agree-tos --standalone --domains ${LETSENCRYPT_ALL_DOMAINS} --keep-until-expiring
  30_update_nginx_conf:
    command: |
      LETSENCRYPT_DOMAIN=`/opt/elasticbeanstalk/bin/get-config environment -k LETSENCRYPT_DOMAIN`
      sed -i "s/ssl_certificate;/ssl_certificate \/etc\/letsencrypt\/live\/${LETSENCRYPT_DOMAIN}\/fullchain.pem;/g" /var/app/staging/nginx/conf.d/default.conf
      sed -i "s/ssl_certificate_key;/ssl_certificate_key \/etc\/letsencrypt\/live\/${LETSENCRYPT_DOMAIN}\/privkey.pem;/g" /var/app/staging/nginx/conf.d/default.conf
