.header__picture {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 36px;
}
